.productCard{
    padding: 10px;
    width: auto;

    border-radius: 15px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media screen and (min-width: 900px) {
    .productCard:hover{
        cursor: pointer;
    }
}

.productCard img{
    width: 25px;
    height: auto;
    margin-top: 15px;
}
.productCard p{
    text-align: center;
    font-size: .7rem;
    font-weight: 500;
    margin: auto;
}

.productCard span{
    color: #eccb01;
    font-size: .7rem;
    font-weight: 500;
    margin: auto;
}

.select{
    display: flex;
    gap: 10px;
}
.select .plus, .select .minus{
    padding: 0 7px;
    border-radius: 5px;
}
.plus {
    background-color: #eccb01;
}
.minus{
    border: solid 1px #9f9f9f;
}