@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.body{
    font-family: 'Poppins','Geologica', 'Inter', sans-serif;
}
.body{
    margin: 0;
    padding: 0;
    list-style: none;
}

.title{
    font-size: 1.5rem;
    margin: 15px 0 15px 15px;
}
.title span{
    font-weight: bold;
}

.sub-title{
    font-size: 1rem;
    margin: 15px 0 15px 15px;
}

.grid {
    display: grid;
    grid-template: ". .";
    gap: 10px 10px;
    justify-content: start;
    width: 100%;
}

.grid-3 {
    display: grid;
    grid-template: ". . .";
    gap: 15px 15px;
    justify-content: start;
}

.max-h{
    max-height: 250px;
    overflow-x: hidden;
    overflow-y: scroll;
}

@media screen and (min-width: 900px) {
    .grid-3 {
        display: grid;
        grid-template: ". . . . . .";
        gap: 15px 15px;
        justify-content: start;
    }
    .grid {
        display: grid;
        grid-template: ". . . . .";
        gap: 10px 10px;
        justify-content: start;
        width: 100%;
    }
    .max-h{
        max-width: 80vw;
        overflow-x: unset;
        overflow-y: unset;
    }
}