.body *, .body{
    margin: 0;
    padding: 0;
    list-style: none;
}
.main{
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.side1{
    flex: 5;
    padding: 10px 10px 0 10px;
}
.side2{
    background-color: #eef3f4;
    flex: 2;
    padding: 10px;
}

.start{
    width: 100%;
    display: flex;
    justify-content: start;
}
.end{
    width: 100%;
    display: flex;
    justify-content: end;
}

.center{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
}

@media screen and (min-width: 900px) {
    .main{
        display: flex;
        height: auto;
        overflow: unset;
    }
}