.productCard{
    background-color: #eef3f4;

    padding: 10px;
    height: 90px;
    width: 90px;

    border-radius: 15px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.productCardRed{
    background-color: #dd0101;

    padding: 10px;
    height: 90px;
    width: 90px;

    border-radius: 15px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.productCard img,.productCardRed img{
    width: 30px;
    height: auto;
    margin-top: 5px;
}
.productCard p, .productCardRed p{
    text-align: center;
    font-size: .9rem;
    font-weight: 500;
    margin: auto;
}
.productCardRed p{
    color: white;
}
.productCard span{
    display: none;
}
.productCardRed span{
    padding: 5px;
    outline: none;
    color: white;
    background-color: rgba(218, 229, 232, 0.27);
    border-radius: 10px;
    margin-bottom: 5px;
    font-size: .7rem;
}