.productCard{
    margin: 5px;
    background-color: #dae5e8;

    padding: 10px;
    height: 100px;
    max-width: 100px;

    border-radius: 15px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.productCardRed{
    background-color: red;
}

.productCard img{
    width: 30px;
    height: auto;
    margin-top: 5px;
}
.productCard p{
    text-align: center;
    font-size: .9rem;
    font-weight: bold;
}
.productCard span{
    display: none;
}
.productCardRed span{
    padding: 5px;
    border: white solid 1px;
}